/*
Barebones styles
*/

:root {
    --default-color: #2f40a8;
    --background-color: #3a75c8;
    --header-color: #2c97bf;
}

* {
    box-sizing: border-box;
    background: var(--background-color); 
    color: var(--default-color);
    font-family: Helvetica, Arial, Impact, sans-serif, serif;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

.back-arrow {
    position: fixed;
    height: 3vw;
    margin: -1.5vw auto auto -4.5vw;
}

#back-arrow {
    opacity: 100%;
    transition: opacity 0.175s ease-in-out;
    z-index: 1;
}

#back-arrow:hover {
    opacity: 0%;
}

section {
    display: block;
    height: 25vw;
    margin-top: 6vw;
}