/*
Barebones styles
*/

:root {
    --default-color: #2f40a8;
    --background-color: #4177c4;
    --header-color: #2c97bf;
    --placeholder-color: #999999;
    --submit-color: #e4e4e4;
}

* {
    box-sizing: border-box;
    background: var(--background-color); 
    color: var(--default-color);
    font-family: "Segoe UI", Helvetica, Arial, Impact, sans-serif, serif;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

.back-arrow {
    position: fixed;
    height: 3vw;
    margin: -1.5vw auto auto -4.5vw;
}

#back-arrow {
    opacity: 100%;
    transition: opacity 0.175s ease-in-out;
    z-index: 1;
}

#back-arrow:hover {
    opacity: 0%;
}

section {
    height: flex;
    margin-top: 6vw;
    border: 5px solid black;
}