#amortization-inputs {
    width: 25vw;
    height: 50%;
    padding: 1vw 1vw 0;
    font-size: 1vw;
    border: 5px solid pink;
}

#amortization-inputs td {
    display: flex;
    font-weight: bold;
    text-indent: 2vw;
}

#amortization-inputs input {
    border: 0.2vw solid black;
    font-size: 1vw;
    margin: 0 auto;
}

#principal::placeholder, #interestRate::placeholder, #years::placeholder {
    color: var(--placeholder-color);
}

#submit {
    margin: 1vw auto;
    width: flex;
    font-size: 1.5vw;
    border: 2px solid black;
    transition: all 0.2s ease-in-out;
    font-family: "Segoe UI";
}

#submit:hover {
    border: 2px solid var(--submit-color);
    color: var(--submit-color);
}
