#amortizationSchedule {
    margin: 1vw;
    width: 23vw;
    display: flex;
}

#financial-information th, #financial-information td {
    padding: 0 1vw;
    text-align: center;
    font-size: 0.5vw;
}

#financial-information td {
    display: table-cell;
}