<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/styles-tools/!main.css">
    <link rel="stylesheet" href="../public/styles/nav.css">
    <link rel="stylesheet" href="../public/styles/misc.css">
    <title>Financial Tools</title>
</head>
<body>
    <a href="homepage.html"><img class="back-arrow" id="back-arrow" src="../public/media/images/arrow-pointing-left.png">
    <img class="back-arrow" id="back-arrow2" src="../public/media/images/arrow-pointing-left2.png"></a>
    <nav style="margin-left: 5vw;">
        <h1 class="nav-link-headers">Test</h1>
    </nav>
    
</body>
</html>