<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/main.css">
    <title>Welcome!</title>
</head>

<nav>
    <img src="../public/images/github-logo.png" style="height: 50px; margin: 0 10px;">

    <div class="nav-links-div">
        <h1 class="nav-link-headers">Chess</h1>
        <h1 class="nav-link-headers">Spotify</h1>
        <h1 class="nav-link-headers">Melee</h1>
    </div>

    <h1 class="main-header" style="margin: 0 25px; text-align: center;">Thomas Mrsich</h1>
</nav>

<section class="section-header" id="intro-section">
    <h1 id="hello-statement">Hi, I'm Thomas!</h1>
</section>

<section class="section-header" id="chess-section">
    <h1>Chess</h1>
</section>

<section class="section-header" id="spotify-section">
    <h1>Spotify</h1>
</section>

<section class="section-header" id="melee-section">
    <h1>Melee</h1>
</section>



</html>