<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/main.css">
    <script src="../public/scripts/fade-in.js"></script>
    <script src="../public/scripts/fade-in-image.js"></script>
    <title>Welcome!</title>
</head>

<nav>
    <img src="../public/images/github-logo.png" style="height: 50px; margin: 0 10px;">

    <div class="nav-links-div">
        <h1 class="nav-link-headers">Chess</h1>
        <h1 class="nav-link-headers">Spotify</h1>
        <h1 class="nav-link-headers">Melee</h1>
    </div>

    <h1 class="main-header" style="margin: 0 25px; text-align: center;">Thomas Mrsich</h1>
</nav>

<section class="section-header" id="intro-section">
    <div id="intro_left-panel">
        <h1 class="fade" id="intro-name">Hi, I'm Thomas!</h1>
        <img class="fade-image" id="intro-image" src="https://media.licdn.com/dms/image/C4E03AQGDRdr9eN22uw/profile-displayphoto-shrink_200_200/0/1655925465697?e=1686182400&amp;v=beta&amp;t=5Og37KRAEcon38231I7r96-cRMd22OZaVhanHcTfXVA">
    </div>

    <div id="intro_right-panel">
        
    </div>



</section>

<section class="section-header" id="chess-section">
    <h1>Chess</h1>
</section>

<section class="section-header" id="spotify-section">
    <h1>Spotify</h1>
</section>

<section class="section-header" id="melee-section">
    <h1>Melee</h1>
</section>



</html>