<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/!main.css">
    <link rel="stylesheet" href="../public/styles/intro.css">
    <link rel="stylesheet" href="../public/styles/cycling.css">
    <link rel="stylesheet" href="../public/styles/spotify.css">
    <link rel="stylesheet" href="../public/styles/melee.css">
    <script src="../public/scripts/fade-in.js"></script>
    <script src="../public/scripts/fade-in-image.js"></script>
    <title>Welcome!</title>
</head>

<!-- Navigation bar -->
<nav>
    <div class="nav-links-div">
        <h1 class="nav-link-headers"><a href=#cycling-section>Cycling</a></h1>
        <h1 class="nav-link-headers"><a href=#spotify-section>Spotify</a></h1>
        <h1 class="nav-link-headers"><a href=#melee-section>Melee</a></h1>
    </div>
    <h1 class="main-header">Thomas Mrsich</h1>
</nav>

<!-- Intro -->
<section id="intro-section" style="height: 40vw;">
    <div id="intro_left-panel">
        <h1 class="fade" id="intro-title">Hi, I'm Thomas!</h1>
        <img class="fade-image" id="intro-image" src="../public/media/images/me.png">
    </div>

    <div id="intro_right-panel">
        <h1 id="about-me-title">About Me</h1>
        <p id="about-me-p">My name's Thomas, and I'm excited to share some of the things I'm interested in. I'm an avid webpage  design enthusiast,
            so my favorite languages are HTML, CSS, and Javascript. When I'm not deciding on which colors or the layout I should use, you can
            catch me listening to some of my favorite genres of music, namely instrumentals when I'm trying to focus but if I'm on a run or
            cycling EDM will do the trick. Outside of my web design, cycling, and music life, I sometimes like to kick back and play some Super 
            Smash Bros. Melee (even though I'm not really good at it) and am a Falco enjoyer.</p>
        <div id="icons-div">
            <a target="_blank" href="https://www.linkedin.com/in/thomasmrsich"><img class="icon" src="../public/media/images/linkedin-logo.png"></a>
            <a target="_blank" href="https://www.github.com/tmrsich"><img class="icon" src="../public/media/images/github-logo.png"></a>
            <a target="_blank" href="https://www.freecodecamp.org/tmrsich"><img class="icon" src="../public/media/images/freecodecamp-logo.png"></a>
            <a target="_blank" href="../public/media/files/bloomberg-certificate.pdf"><img class="icon" src="../public/media/images/bloomberg-logo.png"></a>        
        </div>
    </div>
</section>

<!-- Cycling -->
<section id="cycling-section">
    <h1 class="section-header">Cycling</h1>
</section>

<!-- Spotify -->
<section id="spotify-section">
    <h1 class="section-header">Spotify</h1>
    <!-- <p>Like many others</p> -->
    <h2 id="spotify-desc" style="text-align: center;">Explore my love for electronic dance music, techno, and piano jazz through these three hand-curated Spotify playlists</h2>
        <div class="vertical-split">
            <iframe id="edm-playlist" style="margin: auto 0 auto auto" src="https://open.spotify.com/embed/playlist/3WWDI0wkL9jIYlxDsxJMYr?utm_source=generator"></iframe>

            <div class="horizontal-split">
                <iframe id="techno-playlist" style="margin: auto auto auto 0;" src="https://open.spotify.com/embed/playlist/0L5TSyUg0T4I5heSL5pkny?utm_source=generator"></iframe>

                <iframe id="jazz-playlist" src="https://open.spotify.com/embed/playlist/6TNT2rH80TW9bxXHTHUKmq?utm_source=generator"></iframe>
            </div>
        </div>
</section>

<!-- Melee -->
<section id="melee-section">
    <h1 class="section-header">Melee</h1>
    <h2>
</section>

</html>