/* Intro section styling the container (whole div) and separating it into two panels (intro_left-panel and intro_right-panel */

#intro-section {
    display: grid;
    grid-template-columns: 40vw 1fr;
    height: 40vw;
    margin-top: 7.5%;
}

#intro_left-panel {
    margin-right: -4vw;
    text-align: center;
}

#intro_right-panel {
    margin-left: -5vw;
    text-align: center;
    z-index: 1;
}

#intro-title, #about-me-title {
    margin: 0 auto;
    margin-top: 1.5vw;
    font-size: 3.2vw;
}

#intro-image {
    height: 25vw;
    border-radius: 50%;
    border: 0vh solid var(--background-color);
    transition: all 0.2s ease-out;
}

#intro-image:hover {
    opacity: 1;
    transform: scale(1.03);
}

#about-me-p {
    width: 90%;
    text-align: justify;
    font-size: 1.75vw;
    margin-top: 4.5vw;
}

#about-me-p:hover {
    opacity: 1;
}

/* Icon styles */

#icons-div {
    display: flex;
    width: 95%;
    justify-content: space-evenly;
    margin: 1vw auto;
}

.icon {
    width: 3.25vw;
    height: 3.25vw;
    border-radius: 0.75vw;
    border: 0px solid black;
    transition: all 0.1s ease-out;
}

.icon:hover {
    transform: scale(1.25);
    border: 2px solid var(--header-color);
}

#financial-tools-redirect {
    letter-spacing: 0.1vw;
    font-size: 1.5vw;
}

#page-redirect {
    color: #7d7d7d;
    transition: color 0.2s ease-in-out;
    font-size: 1.5vw;
}

#page-redirect:after {
    background-color: #bbbbbb;
}

#page-redirect:hover {
    color: #bbbbbb;
    border-bottom: none;
}