#cycling-section {
    height: 100vw;
}

#cycling-image {
    height: 26vw;
    margin-left: 0.5vw;
    border-radius: 5vw;
    opacity: 0.75;
    transition: all 0.2s ease;
    border: 0vh solid var(--background-color);
}

#cycling-image:hover {
    transform: scale(1.03);
}

#horizontal-top {
    display: grid;
    grid-template-columns: 37vw 1fr;
    align-items: center;
    height: 27vw;
}

#horizontal-top-right {
    height: 26vw;
}

#cycling-adventures, #cycling-maintenance {
    border: 1px solid white;
    height: 25vw;
}

.cycling-desc-text {
    border: 1px solid red;
    margin: 0 30px;
}

.cycling-detail {
    font-size: 1.25vw;
}