#cycling-image {
    height: 26vw;
    margin-left: 0.5vw;
    border-radius: 5vw;
    opacity: 0.75;
    transition: all 0.2s ease-out;
    border: 0vh solid var(--background-color);
}

#cycling-image:hover {
    transform: scale(1.03);
}

#horizontal-top {
    display: grid;
    grid-template-columns: 36vw 1fr;
    align-items: center;
}

#horizontal-top-right {
    height: 26vw;
    margin-right: 0.5vw;
    border: 5px solid magenta;
}

#cycling-gearspecs {
    display: flex;
    justify-content: space-around;
    width: 60vw; 
    font-size: 1.25vw;
    line-height: 4vw;
    border: 5px solid red;
}

#cycling-adventures, #cycling-maintenance {
    border: 1px solid white;
}

.cycling-desc-text {
    border: 1px solid red;
    margin: 0 30px;
}