#melee-section img {
    height: 20vw;
    margin: 0 auto;
}

#melee-section {
    border: 5px solid white;
    position: relative;
}

.horizontal-split img {
    margin: 0 auto;
}
.vertical-split, .horizontal-split {
    border: 2px dotted white !important;
}

#left-side {
    position: relative;
}