#melee-section {
    /* border: 5px solid white; */
    position: relative;
    margin-top: 5vw;
}

#melee-section img {
    height: 20vw;
}

.melee-char {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.melee-desc {
    border: 1px solid pink;
}