#melee-section {
    border: 5px solid white;
    position: relative;
}

#melee-section img {
    height: 20vw;
}

#falco-group, #fox-group {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
}

/* #melee-section * {
    border: 1px solid red;
} */