/*Sets up properties that allows image to fade in on page load. This works by adding
the class of "fade-in-image" to the actual image once the page has loaded.*/

.fade {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.fade.fade-in {
    opacity: 1;
}

.fade-image {
    opacity: 0;
}

.fade-image.fade-in-image {
    opacity: 0.25;
    transition: opacity 1s ease-in-out;
}

/* Intro section styling the container (whole div) and separating it into two panels (intro_left-panel and intro_right-panel */

#intro-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.25vw;
}

#intro_left-panel, #intro_right-panel {
    display: inline;
    text-align: center;
}

#intro-title, #about-me-title {
    margin: 0 auto;
    margin-top: 1.5vw;
    font-size: 3.2vw;
}

#intro-image {
    height: 25vw;
    border-radius: 50%;
}

#intro-image:hover {
    opacity: 1;
    transition: opacity 0.25s ease-out;
}

#about-me-p {
    width: 90%;
    text-align: justify;
    font-size: 1.75vw;
    margin-top: 2vh;
}

#about-me-p:hover {
    opacity: 1;
}

#icons-div {
    display: flex;
    width: 95%;
    justify-content: space-evenly;
    margin: 1vw auto;
}

.icon {
    width: 3.25vw;
    height: 3.25vw;
    border-radius: 0.75vw;
    border: 0px solid black;
    transition: border 0.1s;
}

.icon:hover {
    border: 5px solid var(--default-color);
}