/*
Barebones styles
*/

:root {
    --default-color: #e1e1e1;
    --background-color: #292929;
    --header-color: #bbbbbb;
}

* {
    box-sizing: border-box;
    background: var(--background-color); 
    color: var(--default-color);
    font-family: Helvetica, Arial, Impact, sans-serif, serif;
}

html, body {
    height: 100%; 
    /*The reason why I don't put the background property here is because not all properties are inherited from
    the html element, such as background-color, border, margin, padding, width, height, position, and z-index.
    
    The only way these types of properties can be "inherited" from the parent element is by using the "*" selector,
    which is the same idea as taking a property and copying & pasting it into each element selector individually.
    Thus, by setting the background color for all elements as the same, it allows me to change the background
    for specific elements if I choose to do so.*/
}

/*
nav and nested elements
*/

nav {
    top: 0;
    position: fixed;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    border: 1px solid white;
    z-index: 1;
}

.nav-link-headers {
    color: var(--header-color);
    text-align: center;
    font-size:  30px;
    position: relative;
    transition: color 0.25s ease-in-out;
}

.nav-link-headers:hover {
    color: var(--default-color);
    transition: color 0.25s ease-in-out;
}

.nav-link-headers:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: var(--default-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link-headers:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-links-div {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}

/*
All elements and styles below the navbar
*/

/*Section and nested elements*/

section {
    display: block;
    border: 1px solid white;
    margin-top: 7.5%;
    height: 500px;
}

#intro-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    border: 2px solid white;
}

#intro_left-panel, #intro_right-panel {
    border: 1px solid white;
    display: inline;
    text-align: center;
}

#intro-name, #about-me {
    margin: 0 auto;
    margin-top: 30px;
    font-size: 64px;
}

.fade {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.fade.fade-in {
    opacity: 1;
}

/*Sets up properties that allows image to fade in on page load. This works by adding
the class of "fade-in-image" to the actual image once the page has loaded.*/

.fade-image {
    opacity: 0;
}

.fade-image.fade-in-image {
    opacity: 0.25;
    transition: opacity 1s ease-in-out;
}

/*Actual CSS properties of the image*/

#intro-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 30px;
}

#intro-image:hover {
    opacity: 1;
    transition: opacity 0.25s ease-out;
}

#about-me-p {
    text-align: justify;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid white;
    width: 90%;
    opacity: 0.75;
    transition: opacity 0.2s ease-in-out;
}

#about-me-p:hover {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}