#spotify-section {
    padding-bottom: 20px;
}

#spotify-section h2 {
    font-size: 18px;
    margin-top: -25px;
}

iframe {
    flex: 1;
    margin: auto;
    width: 100%;
    height: 100%;   
    border-radius: 12px;
}