#spotify-section {
    padding-bottom: 20px;
}

#spotify-section h2 {
    font-size: 18px;
    margin-top: -25px;
}

iframe {
    margin: auto;
    width: 95%;
    height: 100%;
    border-radius: 12px;
    border: 1px solid magenta;
}